{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>¿Por qué me gustan las obras?</title>
</head>
<body bgcolor="black" text="white" link="white" vlink="white" alink="white">
<center>

<h1>¿Por qué me gustan las obras?</h1>
<hr width="80%" color="white">

<table align="center" cellspacing="20">
<tr valign="top">
<td align="center">
<table border="3" width="250" height="200" cellpadding="10">
<tr><td>
<b>"El Demonio y Tamara"</b><br><br>
Está inspirado en un poema de Mijaíl Lérmontov,
la pintura retrata el reencuentro de los dos personajes.
Lo que más me gusta de esta obra son los detalles artísticos 
en las alas y en la expresión del Demonio.
Aunque casi no se logra apreciar,
si le prestas atención notarás una expresión de confusión 
y preocupación, pero su postura transmite comodidad 
junto a Tamara.
</td></tr>
</table>
</td>

<td align="center">
<br><br>
<table border="3" width="250" height="200" cellpadding="10">
<tr><td>
<b>"Romeo y Julieta".</b><br><br>
Esta pintura está inspirada en la obra de William Shakespeare, 
específicamente en la escena en que los amantes se besan 
en el balcón del dormitorio de Julieta.
Fue realizada por el artista británico Frank Dicksee.
Me gusta no solo por la representación, 
sino por el uso del óleo, sus colores y el ambiente cálido.
</td></tr>
</table>
</td>

<td align="center">
<br><br><br><br>
<table border="3" width="250" height="200" cellpadding="10">
<tr><td>
<b>"El Demonio".</b><br><br>
Es otra perspectiva del poema de Mijaíl Lérmontov.
Me gustan los detalles de luz y sombras en las alas 
los pliegues de la ropa, así como las expresiones faciales 
de Tamara y El Demonio.
</td></tr>
</table>
</td>
</tr>
</table>

<br><br>
<a href="{% url 'appdjango:home' %}">⬅ Volver a la galería</a>

</center>
</body>
</html>
